// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #e82a34
$secondary = #a6263e
$tertiary  = #fbc02d

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

// tabs
$tabs-background = #efefef
$tabs-color = #ffc90e
$tabs-font-size = 0.8rem
$tabs-min-height = 30px
$tabs-padding = 14px 8px
$tabs-pane-padding = 6px
$tabs-big-screen-horiz-padding = 20px
$tabs-horiz-padding = 10px
//$tabs-inverted-color

// Graaly specific variables
$light-grey-background = #efefef
$dark-grey-text = #757575
