var merge = require("webpack-merge");
var prodEnv = require("./prod.env");

module.exports = merge(prodEnv, {
  NODE_ENV: "development",
  SERVER_URL: 'https://localhost:80',
  LOCAL_SERVERLESS_URL: 'http://localhost:80/dev/',
  QUEST_SERVERLESS_URL: 'https://dev.api-graaly.com/q/',
  USER_SERVERLESS_URL: 'https://dev.api-graaly.com/u/',
  RUN_SERVERLESS_URL: 'https://dev.api-graaly.com/r/',
  STEP_SERVERLESS_URL: 'https://dev.api-graaly.com/s/',
  AUTH_SERVERLESS_URL: 'https://dev.api-graaly.com/a/',
});
