var merge = require('webpack-merge')
var prodEnv = require('./prod.env')

module.exports = merge(prodEnv, {
  NODE_ENV: 'development',
  SERVER_URL: 'https://localhost:3000',
  //SERVER_URL: 'https://78.247.66.31:3000'
  //SERVER_URL: 'https://192.168.0.13:3000'
  MQTT_URL: 'wss://localhost:9001'
  MQTT_TOPIC: 'Graaly',
  PERSIST_STATE_COOKIE_DURATION: 30, // days,
  VERSION: "2.1.40"
})
