var merge = require('webpack-merge')
var prodEnv = require('./prod.env')

module.exports = merge(prodEnv, {
  NODE_ENV: 'development',
  SERVER_URL: 'https://localhost:80',
  LOCAL_SERVERLESS_URL: 'http://localhost:80/dev/',
  QUEST_SERVERLESS_URL: 'https://qttrim18zh.execute-api.us-east-1.amazonaws.com/dev/',
  USER_SERVERLESS_URL: ' https://21lcd0ljqa.execute-api.us-east-1.amazonaws.com/dev/',
  MQTT_URL: 'wss://localhost:9001'
})
