// This file is included in the build if src/main.js imports
// either app.mat.styl or app.ios.styl.
// Check "DEFAULT / CUSTOM STYLE" in src/main.js

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the app.ios.styl or app.mat.styl files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #e82a34
$secondary = #a6263e
$tertiary  = #999

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

// tabs
$tabs-background = #efefef
$tabs-color = #ffc90e
$tabs-font-size = 0.8rem
$tabs-min-height = 30px
$tabs-padding = 14px 8px
$tabs-pane-padding = 6px
$tabs-big-screen-horiz-padding = 20px
$tabs-horiz-padding = 10px
//$tabs-inverted-color

// Graaly specific variables
$light-grey-background = #efefef
$dark-grey-text = #757575


// Generic CSS

/* required to avoid useless 50px overflow at bottom */
#q-app { min-height: 0px; }

#q-app h1 {
  font-size: 1.3rem;
  font-weight: normal;
  margin-top: 0;
}

.layout-page, .layout-page-container {
  overflow-y: hidden; /* can't easily override calc(100vm - 50px) on .layout-page */
  height: 100%;
}
.wrapper {
  overflow-y: scroll;
}
#main-view {
  padding: 0;
}

.header {
  display: table;
  border-collapse: collapse;
  width: 100%;
  background-color: $light-grey-background;
}
.header h1 { 
  font-size: 1.3rem;
  line-height: 1.1rem;
  font-weight: bold;
  margin: 0;
}
.centered {
  text-align: center;
}
.subtitle {
  font-size: 0.9rem;
  color: $dark-grey-text;
  line-height: 0.9rem;
  margin-bottom: 0.5rem;
}

.score {
  font-size: 2.1rem;
  color: $primary;
  text-align: center;
  font-weight: bold;
  background-image: url('/statics/icons/game/medal.png');
  background-position: center 50px;
  background-repeat: no-repeat;
  background-size: 35%;
  width: 100px;
  padding-top: 10px;
}
.score-box .score {
  position: relative;
  min-height: 90px;
}
.score-box {
  background: url('/statics/icons/game/top-secret.png') no-repeat ;
  background-size: 100px 120px;
  height: 120px;
  width: 100px;
  z-index: 1000000;
  position: absolute;
  bottom: 36px;
  right: 8px;
  padding-top: 20px;
}

.big-avatar {
  border-radius: 50%;
}
.big-avatar, .editable {
  margin: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.big-avatar div {
  border-radius: 50%;
}
.big-avatar div, .editable div {
  background-size: 100px 100px;
  vertical-align: top;
  width: 100px;
  height: 100px;
}
.big-avatar span, .editable span {
  background: rgba(0,0,0,.54);
  bottom: 0;
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  left: 0;
  line-height: 9px;
  position: absolute;
  padding: 7px 0;
  text-align: center;
  width: 100px;
}
.q-list .score {
  font-size: 1rem;
  background-position: right 10px;
  background-size: 16px;
  width: 50px;
  padding-right: 16px;
}

.tab-content, .page-content {
  padding: 10px;
}
.tab-content h2 {
  font-size: 1rem;
}
.top-padding-middle {
  padding-top: 25px;
}
.padding-medium {
  padding: 10px;
}
.bottom-separator {
  border-bottom: 1px solid #ffc90e;
}
.q-tabs-normal .router-link-active .q-tabs-bar {
  color: $primary;
}
.router-link-active .q-tab-label {
  color: $primary;
}
.q-tabs-normal .active .q-tab-label {
  color: $primary;
}
.q-tabs-normal .active .q-tabs-bar {
  color: $primary;
}

.q-list {
  border: 0px !important;
}

.small-icon {
  width: 40px
}

// Team specific CSS

.team-box {
  display: table;
  border-collapse: collapse;
  width: 100%;
  background-color: $light-grey-background;
}
.team-box > div {
  display: table-cell;
  vertical-align: top;
}
.team-box h1 {
  margin: 0;
  padding: 0;
  line-height: 0.9rem;
}
.team-box div.desc {
  padding-left: 1rem;
}
.team-box .badge {
  width: 2rem;
  height: 2rem;
  padding: 1rem;
}
.team-box .badge img {
  display: block;
  width: 4rem;
  height: 4rem;
}

.link-below-button { 
  width: 100%;
  padding-top: 1rem;
  text-align: center;
}

#q-app .bg-facebook {
  background: #4267B2;
}
#q-app .bg-google {
  background: #fff;
}
#q-app .bg-google .q-btn-inner {
  color: #7D7D7D;
}
#q-app .fa-google:before {
  color: transparent;
  background-image: url('/statics/icons/social-networks/g-logo.png');
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: 100%;
}
