/////////////////////////////// app generic CSS /////////////////////////////////////

/////////////////////////////// page CSS /////////////////////////////////////

/*@media (min-width: 1621px) {
  #main-view {
    display: none
  }
} 
@media (max-width: 1620px) {*/

#screen-too-large {
  display: none
}
.q-layout, .q-page-container {
  height: 100%;
  min-height: 100%;
}
/*}*/

/* iPhone 4/4S */
@media only screen and (max-device-width: 350px) and (max-device-height: 640px) and (-webkit-max-device-pixel-ratio: 2) {
  .bubble-middle {
    font-family: arial;
    font-size: 0.8em;
  }
  .character img {
    max-height: 100px !important;
  }
  .text {
    font-size: 0.8em;
  }
  .answers-text .q-btn {
    font-size: 0.8em !important;
  }
  .typed-code {
    font-size: 0.8em;
    margin: 0 !important;
  }
  .keypad .q-btn {
    height: 10% !important;
    font-size: 1rem !important;
  }
  .inventory-btn {
    font-size: 0.6em;
    bottom: 0px !important;
    z-index: 5000;
    background-color: #000;
    width: 100%;
    margin: 0 !important;
  }
  .inventory-btn .q-btn {
    font-size: 7pt;
    min-height: 1em;
    margin: 0px !important;
  }
  .code-image .q-btn {
    font-size: 10pt;
  }
  .code-image .text-grey {
    font-size: 0.8em;
  }
}

/* required for backgrounds with full height in step play */
html {
  height: 100%;
}
body {
  overflow-y: hidden;
  min-height: 100%;
  height: 100%;
  padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
  padding-top: env(safe-area-inset-top); /* iOS 11.2 */
}
.fixed-top {
  top: constant(safe-area-inset-top); /* iOS 11.0 */
  top: env(safe-area-inset-top); /* iOS 11.2 */
}
.absolute-full, .fullscreen, .fixed-full {
  top: constant(safe-area-inset-top); /* iOS 11.0 */
  top: env(safe-area-inset-top); /* iOS 11.2 */
}
#q-app { 
  min-height: 100%;
  height: 100%;
}
.wrapper {
  overflow-y: scroll;
  height: 100%;
}
/*.layout-page, .layout-page-container {
  overflow-y: hidden;
  height: 100%;
}*/
#main-view { 
  padding: 0rem; 
  height: inherit; 
  min-height: inherit;
}
#main-view > div.wrapper {
  /*height: inherit; 
  min-height: inherit; 
  display: flex; 
  flex-flow: column nowrap;*/
}  
.grow {
  flex-grow: 1;
}
#main-view {
  padding: 0rem;
}
.infoWindow {
  text-align: center;
  padding: 3px;
}
.header {
  width: 100%;
  background-color: #ccc;
  color: #07275A;
  min-height: 80px;
  font-size: 1.3rem;
  line-height: 1.1rem;
  background-repeat: no-repeat;
  padding: 10px;
}
.header .title {
  font-size: 1.5em;
  line-height: 1.1em;
}
.no-padding {
  padding: 0 !important;
}
.modal-content {
  padding: 3vw;
}
.absolute-top {
  position: absolute;
  top: 0px;
  top: constant(safe-area-inset-top); /* iOS 11.0 */
  top: env(safe-area-inset-top); /* iOS 11.2 */
}
.absolute-bottom {
  position: absolute;
  bottom: 0px;
}
.rounded {
  border-radius: 8px;
}
.no-overflow {
  overflow: hidden;
}
.bg-graaly-blue-dark {
  background: #0F2A3C;
  color: #fff;
}
.bg-status-draft {
  background: orange;
}
.bg-status-tovalidate, .bg-status-rejected {
  background: red;
}
.scroll {
  overflow-y: scroll;
}
.bottom-margin-for-keypad {
  padding-bottom: 300px;
}

/////////////////////////////// Typography /////////////////////////////////////

@font-face {
  font-family: concertone;
  src: url(font/concertone.ttf);
}

body {
  font-family: 'concertone';
  font-size: 14pt;
}
.title1 {
  font-size: 41pt;
  line-height: 1.1em;
}
.title2 {
  font-size: 30pt;
  line-height: 1.1em;
}
.subtitle1 {
  font-size: 26pt;
}
.subtitle2 {
  font-size: 21pt;
}
.subtitle3 {
  font-size: 18pt;
  line-height: 1em;
}
.subtitle4 {
  font-size: 15pt;
  line-height: 1em;
}
.subtitle5 {
  font-size: 12pt;
}
.subtitle6 {
  font-size: 10pt;
}
.subtitle7 {
  font-size: 8pt;
}
.modal-text {
  font-size: 18pt;
}
.filter-text {
  font-size: 15pt;
}
.secondary-font {
  font-family: arial;
  font-size: 15pt;
}
.secondary-font-small {
  font-family: arial;
  font-size: 12pt;
}
.secondary-font-very-small {
  font-family: arial;
  font-size: 10pt;
}
.arial {
  font-family: arial;
}
.concertone {
  font-family: 'concertone';
}
.opacity50 {
  opacity: 0.5;
}

/////////////////////////////// Backgrounds /////////////////////////////////////

.background-map {
  background-image: url('../statics/images/background/background-map.png');
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
}
.background-dark {
  background-color: #323232;
  color: #fff;
}
.background-lighter {
  background-color: rgba(255, 255, 255, .1);
}
.background-lighter2 {
  background-color: rgba(255, 255, 255, .3);
}
.background-lighter3 {
  background-color: rgba(255, 255, 255, .5);
}
.background-lighter4 {
  background-color: rgba(255, 255, 255, .7);
}

/////////////////////////////// Form CSS /////////////////////////////////////

.q-field--outlined .q-field__control {
  font-family: arial;
  background-color: #fff;
  color: #797979;
}
.q-field__bottom {
  padding: 0 3px;
}
.q-field-error {
  color: #f00;
}

/////////////////////////////// link CSS /////////////////////////////////////

a {
  font-family: arial;
  color: #fff;
  font-size: 12pt;
  text-decoration: underline;
}
a.dark {
  color: #232323;
}
a.small {
  font-size: 10pt;
}
.bar-link a {
  font-size: 10pt;
  margin-top: 5px;
}
.subtitle5 a {
  font-size: 12pt;
}
.subtitle6 a {
  font-size: 10pt;
}
a.no-underline {
  text-decoration: none;
}

/////////////////////////////// Buttons CSS /////////////////////////////////////

.q-btn {
  font-size: 15pt;
  min-height: 2.1em;
  line-height: 1em;
  padding: 5px 0;
}
.platform-android .q-btn__content div, .platform-android .q-btn__content span {
  min-height: 30px;
}
.large-btn, .large-button {
  min-width: 70%;
  padding-left: 10px;
  padding-right: 10px;
}
.normal-button {
  padding-left: 10px;
  padding-right: 10px;
}
.small-button {
  font-size: 0.8em;
  padding-left: 7px;
  padding-right: 7px;
  min-height: 1.5em;
}
.small-button .q-btn__content div {
  min-height: 20px !important;
}
.q-btn--rectangle {
  border-radius: 9px;
}
.image-button {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 15px 8px 15px 100px;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  text-align: center;
}
.platform-android .image-button {
  padding: 12px 8px 20px 100px;
}
.q-btn--flat {
  line-height: 2em;
}

/////////////////////////////// Popup CSS /////////////////////////////////////

/*
 * MP 2019-11-15
 * fix quasar issue with "maximized" property on <q-dialog>, which can prevent scrolling on Android
 * tried to prevent scrolling "above limits" on iOS, using those solutions https://stackoverflow.com/a/39821505/488666, but no luck
 */
 
.q-dialog__inner--maximized {
  overflow-y: scroll;
  padding: 0.5rem; /* nicer layout / UI */
}
.q-dialog__inner--maximized > div {
  overflow-y: scroll !important;
}
.q-dialog.fullscreen {
  /* 7003 to be over the stories, especially when user pass the tutorial */
  z-index: 7003;
}
.popup-header {
  background-color: #215C84;
  color: #fff;
  height: 57px;
  text-transform: uppercase;
}
.popup-header-big {
  height: 84px;
  padding-top: 40px;
}
.popup-header .q-btn {
  font-size: 10pt;
}
.q-dialog__inner > div {
  min-width: 90%;
  background-color: #0F2A3C;
  border: 1px solid #215C84;
  color: #fff;
  /*overflow: visible;*/
}
.q-dialog__inner > div.bg-white {
  color: rgba(0,0,0,0.87);
}
.q-dialog__inner > div.bg-grey {
  background-color: #4B4B4B !important;
  border-color: #000;
}
.popup-over-header {
  margin-top: -116px;
}
.popup-over-header img {
  width: 50%;
}
.full-page-div {
  position: absolute; 
  top:0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  z-index: 7003;
  top: constant(safe-area-inset-top); /* iOS 11.0 */
  top: env(safe-area-inset-top); /* iOS 11.2 */
}
.full-page-div .scroll {
  height: 100%;
}

/////////////////////////////// Titles CSS /////////////////////////////////////

.title-bar {
  padding: 10px 0 22px 35px;
  background-repeat: no-repeat;
  text-transform: uppercase;
  font-size: 10pt;
  width: 172px;
  text-align: center;
  margin: 25px 0 8px 0;
  background-size: 172px 43px;
}
.platform-android .title-bar {
  padding: 8px 0 22px 35px;
}
.desktop .title-bar {
  padding-top: 11px;
}
.bar-link {
  padding-top: 6px;
}
.platform-android .bar-link {
  padding-top: 0px;
}
.key-bar {
  background-image: url('../statics/images/other/bar-key.svg');
}
.puzzle-bar {
  background-image: url('../statics/images/other/bar-puzzle.svg');
}
.friend-bar {
  background-image: url('../statics/images/other/bar-friend.svg');
}
.badge-bar {
  background-image: url('../statics/images/other/bar-badge.svg');
}
.white-overliner {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 3px 5px 8px 5px;
  border-radius: 5px;
}

/////////////////////////////// Panel CSS /////////////////////////////////////

.panel-bottom {
  position: fixed; 
  bottom: 0; 
  left: 0; 
  top: 0;
  top: constant(safe-area-inset-top); /* iOS 11.0 */
  top: env(safe-area-inset-top); /* iOS 11.2 */
  width: 100%; 
  height: 100%; 
  overflow-y: scroll;
  z-index: 100;
}

/////////////////////////////// Quest box CSS /////////////////////////////////////

.quest-small {
  width: 216px;
  height: 201px;
  background-color: #0F2A3C;
  border: 1px solid #215C84;
  display: inline-block;
}
.quest-big {
  height: 277px;
  background-color: #0F2A3C;
  border: 1px solid #215C84;
  margin-bottom: 16px;
}
.quest-red .quest-small, .quest-red .quest-big {
  border: 1px solid #D60B52;
}
.info-banner {
  position: absolute;
  bottom: 0;
  background-color: #0F2A3C;
  width: 100%;
  font-size: 9pt;
  padding-top: 3px;
}
.info-banner div {
  margin-left: 8px;
  display: inline-block
}
.info-banner div:first-child {
  margin-left: 10px;
}
.info-banner .q-icon {
  vertical-align: baseline;
}
.title-banner {
  position: absolute;
  bottom: 0;
  background-color: #215C84;
  width: 100%;
  padding-top: 7px;
  font-size: 9pt;
}
.title-banner div {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title-banner div:first-child {
  margin-top: -5px;
}
.quest-small .title-banner div:first-child {
  line-height: 1.1em;
}
.point-banner img {
  width: 50px;
}
.point-banner div {
  padding: 16px 16px 0px 0px;
  font-size: 18pt;
  color: #fcecba;
  line-height: 1em;
}
.point-banner.with-plus div {
  padding: 11px 15px 0px 0px;
  font-size: 20pt;
}
.platform-android .point-banner.with-plus div {
  padding: 5px 15px 0px 0px;
  font-size: 20pt;
}
.point-banner {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
}
.quest-red .quest-small .info-banner, .quest-red .quest-big .info-banner {
  background-color: #620526;
}
.quest-small .info-banner {
  height: 68px;
}
.quest-big .info-banner {
  height: 86px;
  padding-top: 4px;
}
.quest-red .quest-small .title-banner, .quest-red .quest-big .title-banner {
  background-color: #D60B52;
}
.quest-small .title-banner {
  height: 44px;
}
.platform-android .quest-small .title-banner .subtitle4{
  line-height: 1.4em;
  margin-top: -5px;
}
.quest-big .title-banner {
  height: 57px;
  padding-top: 8px;
}
.quest-big .title-banner .subtitle4 {
  padding-top: 4px;
  width: 80%;
  height: 27px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.platform-android .quest-big .title-banner .subtitle4 {
  height: 30px;
}
.quest-small .point-banner {
  height: 75px;
  width: 212px;
}
.quest-big .point-banner {
  height: 73px;
  width: 100%;
  padding-right: 20px;
}
.quest-big .point-banner img {
  width: 60px;
}
.quest-big .point-banner div {
  padding: 15px 20px 0px 0px;
  font-size: 20pt;
}
.quest-big .point-banner.with-plus div {
  padding: 15px 15px 0px 0px;
}
.platform-android .quest-big .point-banner.with-plus div {
  padding: 10px 15px 0px 0px;
}
.quest-small .point-won {
  height: 87px;
}
.quest-small .point-won img {
  width: 59px;
}
.quest-small .point-won div {
  padding: 21px 21px 0px 0px;
  font-size: 24pt;
}
.platform-android .quest-small .point-won div {
  padding: 16px 21px 0px 0px;
  font-size: 24pt;
}
.quest-big .point-won {
  height: 120px;
}
.quest-big .point-won img {
  width: 93px;
}
.quest-big .point-won div {
  padding: 34px 33px 0px 0px;
  font-size: 36pt;
}
.platform-android .quest-big .point-won div {
  padding: 27px 33px 0px 0px;
}
.quest-add-button {
  width: 84px;
  height: 201px;
  background-color: #D60B52;
  border: 1px solid #620526;
  display: inline-block;
  text-align: center;
  padding-top: 70px;
  vertical-align: top;
}

/////////////////////////////// User bloc CSS /////////////////////////////////////

.user-card {
  overflow-y: hidden;
  margin-right: 24px;
  display: inline-block;
}
.user-card .subtitle3 {
  line-height: inherit;
}
.user-card-small {
  width: 84px;
}
.user-card-medium {
  width: 100px;
}
.user-small-with-title {
  height: 132px;
}
.user-card>div:first-child {
  width: 100%;
  margin-bottom: 8px;
  border-radius: 50%;
  background-color: #0F2A3C;
}
.user-card-small>div:first-child {
  height: 80px;
}
.user-card-medium>div:first-child {
  height: 100px;
}
.user-card-big {
  width: 132px;
}
.user-card-big>div:first-child {
  height: 132px;
}
.profile-item-creator {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
}
.user-card-small .profile-item-creator img {
  width: 24px;
}
.user-card-small .profile-item-creator, .user-card-small .profile-item-level {
  height: 28px;
}
.user-small-with-title.user-card-small .profile-item-creator, .user-small-with-title.user-card-small .profile-item-level {
  height: 77px;
}
.user-card-medium .profile-item-creator img {
  width: 30px;
}
.user-card-medium .profile-item-creator, .user-card-medium .profile-item-level {
  height: 34px;
}
.user-small-with-title.user-card-small .profile-item-creator, .user-small-with-title.user-card-small .profile-item-level {
  height: 77px;
}
.user-card-big .profile-item-creator img {
  width: 32px;
}
.user-card-big .profile-item-creator, .user-card-big .profile-item-level {
  height: 31px;
}
.profile-item-level {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
}
.user-card-small .profile-item-level img {
  width: 32px;
}
.user-card-medium .profile-item-level img {
  width: 38px;
}
.user-card-big .profile-item-level img {
  width: 44px;
}
.user-add-button {
  border: 2px solid #AA570C;
  background-color: #F29203 !important;
  text-align: center;
  padding-top: 13px;
  border-radius: 50%;
}
.user-card-name {
  white-space: normal;
  line-height: 1.3em;
}

/////////////////////////////// TAB CSS /////////////////////////////////////

.tab-button {
  height: 32px;
  color: #323232;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  margin: 0 4px;
}
.tab-button.subtitle6 {
  padding-top: 4px;
}
.platform-android .tab-button.subtitle6 {
  padding-top: 2px;
}
.tab-unselected .tab-button {
  background: transparent;
  color: #fff;
}

/////////////////////////////// SEARCH CSS /////////////////////////////////////

.search-box-top {
  height: 90px;
  margin: 0 4px;
  padding-top: 23px;
  text-align: center;
}
.search-box-top img {
  height: 42px;
}
.search-box-bottom {
  margin: 0 4px;
  height: 24px;
}
.box-unselected {
  opacity: 0.5;
}
.search-quest-box-top {
  background-color: #215C84;
}
.search-quest-box-bottom {
  background-color: #062E56;
}
.search-creator-box-top {
  background-color: #D60B52;
}
.search-creator-box-bottom {
  background-color: #332027;
}
.search-user-box-top {
  background-color: #F29203;
}
.search-user-box-bottom {
  background-color: #AA570C;
}

/////////////////////////////// other CSS /////////////////////////////////////

.logo-top {
  width: 40%; 
  max-width: 400px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.home-header {
  background-color: rgba(0, 0, 0, 0.2)
  height: 53px;
  width: 100%;
  border: 0;
  padding: 5px 10px 6px 16px
}
.home-header .logo {
  width: 42px;
  /*opacity: 0.5;*/
}
.home-header .header-button {
  width: 32px;
  height: 32px;
  margin-top: 5px;
}
.home-header .q-avatar {
  font-size: 32px;
  margin-top: 5px;
}
.main-quest {
  height: 66vh;
  background-color: #555 !important;
}
.badge {
  width: 100px;
  height: 160px;
  overflow-y: hidden;
  margin-right: 24px;
  display: inline-block;
}
.badge-without-title {
  height: 115px;
}
.badge img {
  width: 100%;
  height: 100px;
  margin-bottom: 8px;
}
.badge div {
  width: 100%;
  white-space: normal;
}
.badge-alone {
  width: 100px;
}
.main-profile {
  margin: 80px auto 20px auto;
}
.main-quest-banner {
  position: absolute;
  bottom: 0;
  min-height: 33vh;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}
.main-quest-banner .title2 {
  height: 95px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.platform-android .main-quest-banner .title2 {
  height: 100px;
}
.horizontal-scroll-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 200px;
}
.horizontal-scroll-wrapper>div {
  display: inline-block;
  vertical-align: top;
}
.quests-horizontal-scroll-wrapper {
  height: 200px;
}
.users-horizontal-scroll-wrapper {
  height: 125px;
}
.badges-horizontal-scroll-wrapper {
  height: 160px;
}
.creator-button {
  height: 228px;
  overflow: hidden;
}
.quest-description {
  background-color: rgba(255, 255, 255, .1);
  padding-bottom: 50px;
}
.quest-home-button {
  margin-top: -37px;
}
.quest-score {
  margin-top: -64px;
  position: relative;
}
.quest-score img {
  width: 84px;
}
.quest-score div {
  bottom: 29px;
  left: 17px;
  font-size: 32pt;
  color: #fcecba;
  line-height: 1em;
}
.platform-android .quest-score div {
  bottom: 35px;
}
.properties-bar {
  font-size: 12pt;
}
.medium-icon {
  height: 16px;
  margin-right: 2px;
}
.quest-location {
  padding-left: 21px;
  background-repeat: no-repeat;
  background-image: url(../statics/images/icon/place.svg);
  background-size: 16px;
  background-position-y: 10px;
  padding-top: 6px;
}
.platform-android .quest-location {
  padding-top: 0px;
}
.quest-ranking {
  padding-left: 21px;
  background-repeat: no-repeat;
  background-image: url(../statics/images/icon/medal.svg);
  background-size: 16px;
  background-position-y: 10px;
  padding-top: 6px;
}
.platform-android .quest-ranking {
  padding-top: 0px;
}
.edit-bar {
  position: absolute;
  bottom: 0;
  height: 29px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  font-size: 15pt;
}
.progress-box {
  margin-top: 8px;
  height: 59px;
}
.progress-bar {
  background: url(../statics/images/background/rank-background.png) repeat-x;
  margin: 30px 16px 40px 80px;
  border-radius: 5px;
  background-size: 20px 27px;
  height: 27px;
  position: relative;
}
.progress-bar .progress {
  background: url(../statics/images/background/rank-progress.png) repeat-x;
  position: absolute;
  bottom: 0px;
  height: 27px;
  border-radius: 2px;
  background-size: 20px 27px;
}
.progress-bar .value {
  width: 100%;
  text-align: center;
  position: absolute;
  height: 27px;
  line-height: 1.2em;
}
.platform-android .progress-bar .value {
  line-height: 1em;
}
.progress-box .score {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 8px;
  left: 30px;
}
.rank-level {
  position: absolute;
  bottom: 0px;
  width: 89px;
  margin-left: 11px;
}
.level-to-reach {
  background-repeat: no-repeat;
  background-size: 45px 45px;
  height: 65px;
  padding-left: 70px;
  margin-left: 32px;
}
.level-to-reach div {
  padding-top: 11px;
  height: 50px;
  text-align: center;
}
.platform-android .level-to-reach div {
  padding-top: 6px;
}
.level-not-reached {
  opacity: 0.3;
}
.grey-round-box {
  background-color: rgba(255, 255,255, 0.2);
  border-radius: 5px;
}
.grey-round-box.icons img {
  height: 32px;
  vertical-align: top;
}
.rank-box {
  padding-left: 24px;
  display: flex;
}
.force-justify-start {
  justify-content: start
}
.header-point img {
  width: 155px;
}
.header-point div {
  margin-top: -112px;
  font-size: 47pt;
  line-height: 1em;
  color: #fcecba;
}
.platform-android .header-point div {
  margin-top: -120px;
}
.header-point-box .rounded {
  top: 143px;
}
.header-point-box {
  height: 400px;
}
.end-rating i {
  margin-left: 12px;
  margin-right: 12px;
}
.q-loading svg {
  background: url(../statics/images/other/spinner.gif) no-repeat;
  background-size: 80px 80px;
}
.q-loading .q-spinner-mat {
  webkit-animation: none;
  animation: none;
}
.step-menu {
  z-index: 2000;
}
.reward {
  width: 50%
}
.reward.disabled {
  filter: brightness(100);
  -webkit-filter: brightness(100);
  -moz-filter: brightness(100);
}
.step-setting {
  overflow-y: scroll !important;
  height: 100%
}
.q-loading svg circle {
  display: none;
}

/////////////////////////////// page CSS /////////////////////////////////////
/////////////////////////////// Labels CSS /////////////////////////////////////
.bigger {
  font-size: 1.2em;
}
.smaller {
  font-size: 0.8em;
}
.align-right {
  text-align: right;
}
.centered {
  text-align: center;
}
.text-right {
  text-align: right;
}
span .q-icon {
  margin-top: -2px;
}

.shadowed {
  border: 0.5vw solid #fff;
  border-radius: 1vw;
  box-shadow: 0 0 3vw #555;
}
.error {
  color: #f00;
  font-size: 0.9em;
}

/////////////////////////////// Forms CSS /////////////////////////////////////

.location-address { 
  display: flex; 
  flex-flow: row nowrap; 
  justify-content: center; 
  align-items: center; 
}
.location-address .q-input { 
  flex-grow: 1 
}
.location-address img { 
  width: 2.5rem; 
  height: 2.5rem;
}

/////////////////////////////// Buttons CSS /////////////////////////////////////

.multiple-btn button {
  margin-left: 20px
}
.multiple-btn button:first-child {
  margin-left: 0px
}
/* fix Quasar default purple color for notifications close buttons */
.q-notification__actions {
  color: #fff
}
.white-buttons {
  color: #fff
}
.q-notifications__list--bottom {
    bottom: 70px !important;
}

.over-map {
  z-index: 6000;
}
.disabled, [disabled] {
  opacity: 0.5 !important;
}
.hide-img img {
  display: none;
}

/////////////////////////////// Images CSS /////////////////////////////////////

.preview {
  height: 200px;
}
.big-icon {
  font-size: 5rem
}

/////////////////////////// Search from map CSS /////////////////////////////////

.search-from-map {
  flex-wrap: nowrap;
  overflow-y: scroll;
}
.search-from-map .q-card {
  height: 30vh;
  min-height: 30vh;
  max-height: 30vh;
  overflow-y: hidden;
}

/////////////////////////////// Animation CSS /////////////////////////////////////

.bouncing {
  animation: bounce 0.7s ease infinite;
}
.flashing {
  animation: blink 2.4s ease infinite;
}
.slideInBottom-enter-active, .slideInBottom-leave-active {
  transition: all .3s ease;
}
.slideInBottom-enter, .slideInBottom-leave-to {
  transform: translateY(100vh);
  opacity: 0;
}
.slideInTop-enter-active, .slideInTop-leave-active {
  transition: all .3s ease;
}
.slideInTop-enter, .slideInTop-leave-to {
  transform: translateY(-100vh);
  opacity: 0;
}

/* display the controls progressively */
.fadeIn {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari et Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
.slideInBottom-enter-active, .slideInBottom-leave-active {
  transition: all .3s ease;
}
.slideInBottom-enter, .slideInBottom-leave-to {
  transform: translateY(100vh);
  opacity: 0;
}

.fadein-message {
  position: absolute;
  z-index: 0;
  top: 30%;
  width: 100%;
  height: 0;
  overflow: hidden;
  margin: auto;
  text-align: center;
  font-size: 88px;
  color: #FFF;
  transform-origin: 50% 100%;
  text-shadow: 2px 2px 2px #333;
  animation-duration: 2s;
  animation-name: fadeAndScale;
  animation-fill-mode: forwards;
}

@keyframes fadeAndScale {
  from {
      opacity: 0;
      transform: scale(.9, .9);
      z-index: 10000;
      height: auto;
  }
  30% {
      opacity: 1;
      transform: scale(1, 1);
      height: auto;
  }
  70% {
      opacity: 1;
      transform: scale(1, 1);
      height: auto;
  }
  99% {
      opacity: 0;
      transform: scale(1.1, 1.1);
      height: auto;
  }
  to {
      height: 0;
      opacity: 0;
  }
}
@keyframes blink {
  from {
      opacity: 0;
  }
  30% {
      opacity: 1;
  }
  70% {
      opacity: 1;
  }
  99% {
      opacity: 0;
  }
  to {
      opacity: 0;
  }
}

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}
@keyframes bounce{
  from {margin-top: 3px;}
  50%  {margin-top: -3px;}
  to   {margin-top: 3px;}
}
@keyframes flash{
  from {visibility: hidden; opacity: 0;}
  50%  {visibility: visible; opacity: 100;}
  to   {visibility: hidden; opacity: 0;}
}
.fadeout {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
.flashlight {
  animation-duration: 2s;
  animation-name: cameraFlash;
  animation-fill-mode: linear;
}
@keyframes cameraFlash {
  from {visibility: visible; opacity: 100;}
  50%  {visibility: visible; opacity: 100; filter: brightness(0) invert(1);}
  to   {visibility: visible; opacity: 100;}
}

[draggable] {
  user-select: none;
}


/////////////////////////////// Other CSS /////////////////////////////////////

.image-list .q-card {
  height: 30vh;
  min-height: 30vh;
  max-height: 30vh;
  overflow-y: hidden;
  width: 100%;
}
.coin-box {
  position: fixed;
  top: 0px;
  top: constant(safe-area-inset-top); /* iOS 11.0 */
  top: env(safe-area-inset-top); /* iOS 11.2 */
  left: 0px;
  z-index: 6000;
  text-shadow: #fff 1px 1px, #fff -1px 1px, #fff -1px -1px, #fff 1px -1px;
}
.invitations-box {
  position: fixed;
  top: 15px;
  left: 0px;
  z-index: 6000;
  text-shadow: #fff 1px 1px, #fff -1px 1px, #fff -1px -1px, #fff 1px -1px;
}
.level-box {
  height: 14px;
  font-size: 12px;
  text-shadow: none;
}
.map {
  width: 100%; 
  height: 100%; 
}
.big-avatar, .mid-avatar {
  border-radius: 50%;
  border: 5px solid #07275A;
}
.big-avatar, .mid-avatar {
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.big-avatar div, .mid-avatar div {
  border-radius: 50%;
}
.big-avatar div, .mid-avatar div {
  vertical-align: top;
}
.big-avatar div {
  background-size: 68px 68px;
  width: 68px;
  height: 68px;
}
.mid-avatar div {
  background-size: 34px 34px;
  width: 34px;
  height: 34px;
}
.big-avatar span, .mid-avatar span, .mid-avatar label, .big-avatar label {
  background: rgba(0,0,0,.54);
  bottom: 0;
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  left: 0;
  line-height: 9px;
  position: absolute;
  padding: 7px 0;
  text-align: center;
  width: 70px;
  display: block;
  cursor: pointer;
}
.dark-banner {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  color: #fff;
}
.dark-banner .title {
  font-size: 1.5em;
}
.opaque-banner {
  background-color: rgba(30, 30, 30, 1);
}
.q-pb-xxl {
  padding-bottom: 120px;
}
.q-pb-xxxl {
  padding-bottom: 200px;
}
.q-carousel__slides-container {
  height: inherit;
  min-height: inherit;
}
.q-carousel .q-btn.disabled {
  visibility: hidden;
}
.q-carousel__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw;
}
.q-carousel__navigation {
  z-index: 1; /* otherwise bottom navigation "dots" are not clickable (under the layer containing the left & right arrows) */
}
.list-group { 
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}
.list-group-item { 
  display: flex; 
  flex-flow: row nowrap; 
  align-items: flex-start; 
  padding: 0rem 0.2rem 0.4rem 0; 
}
.list-group-item p {
  height: 30px;
  /*padding: 7px;
  background-color: #ddd;*/
}
.list-group-item div { 
  flex-grow: 1; 
  padding: 0; 
  margin: 0; 
  /*overflow-x: hidden; */
}
.list-group-item div.q-badge { 
  padding: 2px 6px;
}
.step-list.list-group-item div {
  overflow-x: hidden;
}
.step-list.list-group-item div .step-button {
  /*width: 144px;*/
  flex: none;
}
.step-list.list-group-item div .step-text {
  flex: 1;
  overflow: hidden;
  /*text-overflow: ellipsis;*/
  white-space: nowrap;
}

.list-group-item div span { 
  margin-top: 10px;
  display: inline-block;
}
.list-group-item .handle { 
  font-size: 2rem; 
  padding-right: 0.3rem; 
}
.list-group-item .q-btn { 
  width: 3rem
}
.inventory-items div { 
  float: left; 
  padding: 5px 
  width: 30vw; 
  height: 40vw; 
  overflow: hidden; 
  text-align: center;
}
.inventory-items div img { 
  width: 100%; 
}
.menu .q-btn .q-icon {
  font-size: 2.4em;
}
.objects-list img {
  border: 1px solid #fff;
}
.selected {
  background: #eee;
  border: 1px solid #ccc !important;
}
.q-list-separator {
  margin-top: 10px;
  border: 1px solid #e0e0e0 !important;
}
.location-gps p {
  color: rgba(0,0,0,0.46);
}
.location-gps-inputs {
  display: flex;
  flex-flow: row nowrap;
}
.location-gps-inputs input {
  display: block;
  margin: 0.5rem;
  border: 0px none;
  border-bottom: 1px solid #ccc;
  width: 8rem;
}
.location-gps-inputs label {
  display: block;
  margin: 0.5rem;
  color: rgba(0,0,0,0.46);
}
.image-and-text-aligned {
  vertical-align: middle;
}
.story .bubble-top, .story .bubble-bottom {
  font-size: 0px;
  max-width: 800px;
}
.story .bubble-middle {
  width: 100%;
  /*max-width: 100vw;*/
  padding: 0 20px;
  background-position: top left !important;
  background-size: 100% !important;
  max-height: 175px;
  overflow-y: auto;
  max-width: 800px;
}
.story .bubble-top img, .story .bubble-bottom img {
  width: 100%;
  padding: 0;
  margin: 0;
}
.story .character img {
  min-width: 30%;
}
.story .character {
  text-align: right;
}
.story-container {
  z-index: 7002
}
#q-app .bg-facebook {
  background: #4267B2;
}
#q-app .bg-google {
  background: #fff;
}
#q-app .bg-google .q-btn-inner {
  color: #7D7D7D;
}
#q-app .fa-google:before {
  color: transparent;
  background-image: url('../statics/icons/social-networks/g-logo.png');
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.score-bar {
  text-align: center;
  font-size: 1.2em;
}
.score-bar img {
  height: 20px;
}
.q-list .score {
  font-size: 1rem;
  white-space: nowrap;
}
.tilt{
  /*transform: rotateY(-3deg);
  -moz-transform: rotateY(-3deg);
  -webkit-transform: rotateY(-3deg);
  -khtml-transform: rotateY(-3deg);*/
}
.scroll-indicator {
  position: absolute;
  margin-top: 170px;
  opacity: 0.5;
}
.close-btn {
  margin-top: 5px;
}
.firstusage .q-carousel .q-carousel-left-arrow {
  visibility: hidden;
}
/* fix for component <gmap-autocomplete> (vue2-google-maps) */
.pac-container {
  display: block;
  z-index: 7500;
}
/* fix for <q-select> menus on desktop: must be above .q-dialog.fullscreen
(z-index provided by Quasar is 6000) */
.q-menu {
  z-index: 7004;
}
/* fix for missing vertical scrolling at end.vue, only for android
note that .platform-android selector targets both webapp (Chrome) & hybrid on android
WARNING: introduces bad scrolling behaviors on iOS webapp (Safari) & hybrid 
.platform-android .q-layout, .platform-android .q-page-container, .desktop .q-layout, .desktop .q-page-container {
  overflow-y: scroll;
}
*/
.version {
  padding: 20px;
  opacity: 0.4;
}

// manage desktop display
.desktop #main-view, .desktop .story>div, .desktop .bottom-dark-banner, .desktop .fixed-bottom, 
.desktop .panel-bottom, .desktop .direction-helper, .desktop .map, .desktop .fullscreen,
.desktop .q-drawer, .desktop #teaser>div, .desktop .full-page-div {
  max-width: 500px !important;
}
.desktop .q-page-container {
  max-width: 515px !important;
}
.desktop .direction-helper {
  right: auto !important;
}
.desktop .find-item>div {
  max-width: 500px !important;
}
.desktop #cross-play {
  max-width: 80px !important;
  height: auto !important;
}
.desktop .fixed-top {
  max-width: 500px;
}
.bg-gray1 {
  background-color: #3e3e3e;
}