/////////////////////////////// app generic CSS /////////////////////////////////////

/////////////////////////////// page CSS /////////////////////////////////////

@media (min-width: 1621px) {
  #main-view {
    display: none
  }
} 
@media (max-width: 1620px) {
  #screen-too-large {
    display: none
  }
  .q-layout, .q-page-container {
    height: 100%;
    min-height: 100%;
  }
}

/* general default Quasar font size looks very small 
div, p, .q-field__native, .q-radio__label, .q-toggle__label { font-size: 1rem; }
span, .text-caption { font-size: inherit; } */

/* required for backgrounds with full height in step play */
html {
  height: 100%;
}
body {
  overflow-y: hidden;
  min-height: 100%;
  height: 100%;
}
#q-app { 
  min-height: 100%;
  height: 100%;
}
.wrapper {
  overflow-y: scroll;
  height: 100%;
}
/*.layout-page, .layout-page-container {
  overflow-y: hidden;
  height: 100%;
}*/
#main-view { 
  padding: 0rem; 
  height: inherit; 
  min-height: inherit;
}
#main-view > div.wrapper {
  /*height: inherit; 
  min-height: inherit; 
  display: flex; 
  flex-flow: column nowrap;*/
}  
.dark-background {
  background: #D60B52;/*#e82a34;*/
  color: #fff;
  min-height: 100%;
}
.grow {
  flex-grow: 1;
}
.dark-background a {
  color: #fff;
}
#main-view {
  padding: 0rem;
}
.infoWindow {
  text-align: center;
  padding: 3px;
}
.header {
  width: 100%;
  background-color: #ccc;
  color: #07275A;
  min-height: 80px;
  font-size: 1.3rem;
  line-height: 1.1rem;
  background-repeat: no-repeat;
  padding: 10px;
}
.header .title {
  font-size: 1.5em;
  line-height: 1.1em;
}
.no-padding {
  padding: 0 !important;
}
.modal-content {
  padding: 3vw;
}

/////////////////////////////// Links CSS /////////////////////////////////////

a {
  text-decoration: underline;
  color: #07275A;
}
.no-underline {
  text-decoration: none;
}

/////////////////////////////// Labels CSS /////////////////////////////////////
h1 {
  line-height: 3rem;
  margin: 0;
}
h1.size-1 {
  font-size: 3.5em;
}
h1.size-2 {
  font-size: 3em;
}
h1.size-3 {
  font-size: 2rem;
  font-weight: normal;
}
h1.size-4 {
  font-size: 1.4rem;
  font-weight: normal;
}
h2.size-1 {
  font-size: 2.6em;
}
h2.size-2 {
  font-size: 2.1em;
}
h2.size-3 {
  font-size: 1.8em;
}
h3.size-1 {
  font-size: 1.8em;
}
h3.size-2 {
  font-size: 1.5em;
}
.size-1 {
  font-size: 2em;
}
.a-bit-bigger {
  font-size: 1.1em;
}
.bigger {
  font-size: 1.2em;
}
.smaller {
  font-size: 0.8em;
}
.align-right {
  text-align: right;
}
.infoWindow .title {
  font-size: 1.5em;
}
.infoWindow .subtitle {
  font-size: 1.2em;
}
.centered {
  text-align: center;
}
.text-right {
  text-align: right;
}
span .q-icon {
  margin-top: -2px;
}

.shadowed {
  border: 0.5vw solid #fff;
  border-radius: 1vw;
  box-shadow: 0 0 3vw #555;
}

/////////////////////////////// Forms CSS /////////////////////////////////////

.q-item .row {
  align-items: center;
}
.q-item__label--header {
  font-size: 1.2rem;
}
form .q-item__label, .big-label {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: #777;
}
.left-icon {
  font-size: 2.5rem !important;
}
/* for Quasar v1.0.0, login page */
.dark-background .q-field, .dark-background .q-field__label {
  color: #fff;
}
.dark-background .q-field--error .q-field__bottom, .dark-background .q-field  .q-icon.text-negative {
  color: #ef3 !important;
}
/* for Quasar v0.17 */
/*.dark-background .q-if-label {
  color: #fff;
}
.dark-background .q-input-target, .dark-background .q-input-shadow {
  color: #fff;
}
.dark-background .q-if-label, .dark-background .q-if-addon, .dark-background .q-if-control {
  color: #fff;
}
.dark-background .q-if-error:before, .dark-background .q-if-error:after, .dark-background .q-if-error:not(.q-if-inverted) .q-if-label {
  color: #fff;
}*/
/* MP 2019-04-24 on toolbox, step "choose answer text/image", the following rule breaks vertical aligment of options
.q-field {
  margin: 0 0 5vw 0;
}*/
.q-field-dark .q-field-label, .q-field-dark .q-field-icon, .q-field-dark .q-field-counter, .q-field-dark .q-field-bottom, .q-field-with-error .q-field-bottom {
  color: #ef3;
}
.dark-background .q-if-focused .q-if-label {
  color: #eee !important;
}
/*form {
  margin-top: 1rem;
}
.q-btn {
  margin: 0.3rem 0; 
}*/
.location-address { 
  display: flex; 
  flex-flow: row nowrap; 
  justify-content: center; 
  align-items: center; 
}
.location-address .q-input { 
  flex-grow: 1 
}
.location-address img { 
  width: 2.5rem; 
  height: 2.5rem;
}

/////////////////////////////// Buttons CSS /////////////////////////////////////

.multiple-btn button {
  margin-left: 20px
}
.multiple-btn button:first-child {
  margin-left: 0px
}
/* fix Quasar default purple color for notifications close buttons */
.q-notification__actions {
  color: #fff
}
.white-buttons {
  color: #fff
}
.q-notifications__list--bottom {
    bottom: 70px !important;
}

/////////////////////////////// Menus CSS /////////////////////////////////////

.menu {
  width: 100%;
  height: 120px;
  z-index: 5000;
  background-color: rgba(0, 0, 0, .2)
}
.menu>div {
  padding-top: 20px;
}
.menu>div:first-child, .menu>div:last-child {
  padding-top: 35px;
}
.menu-background {
  background: #000;
  opacity: 0.2;
}
.over-map {
  z-index: 6000;
}

/////////////////////////////// Tabs CSS /////////////////////////////////////

.q-tab-panel {
  border: 0px;
  padding: 0.6rem 0.6rem 100px 0.6rem; /* Quasar default padding takes too much space + add 100px to avoid bottom information to be hidden by menu */
}
.step-menu .q-tabs-normal .q-tab-icon, .step-menu .q-tabs-normal .q-tab-label {
  opacity: 0.9 !important;
}
.disabled, [disabled] {
  opacity: 0.9 !important;
}
.step-menu {
  position: fixed !important;
  z-index: 2000;
}
.hide-img img {
  display: none;
}
.q-tabs.two-lines .q-tab {
  white-space: normal;
  min-width: 85px;
}

/////////////////////////////// Images CSS /////////////////////////////////////

.preview {
  height: 200px;
}
.big-icon {
  font-size: 5rem
}
.medium-icon {
  font-size: 2.5rem
}

/////////////////////////////// Panel CSS /////////////////////////////////////

.panel-bottom {
  background: white; 
  position: fixed; 
  bottom: 0; 
  left: 0; 
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow-y: scroll;
  z-index: 100;
}
.panel-bottom h1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

/////////////////////////// Search from map CSS /////////////////////////////////

.search-from-map {
  flex-wrap: nowrap;
  overflow-y: scroll;
}
.search-from-map .q-card {
  height: 30vh;
  min-height: 30vh;
  max-height: 30vh;
  overflow-y: hidden;
}

/////////////////////////////// Animation CSS /////////////////////////////////////

.bouncing {
  animation: bounce 0.7s ease infinite;
}
.flashing {
  animation: blink 0.7s ease infinite;
}
.slideInBottom-enter-active, .slideInBottom-leave-active {
  transition: all .3s ease;
}
.slideInBottom-enter, .slideInBottom-leave-to {
  transform: translateY(100vh);
  opacity: 0;
}

/* display the controls progressively */
.fadeIn {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari et Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
.slideInBottom-enter-active, .slideInBottom-leave-active {
  transition: all .3s ease;
}
.slideInBottom-enter, .slideInBottom-leave-to {
  transform: translateY(100vh);
  opacity: 0;
}

.fadein-message {
  position: absolute;
  z-index: 0;
  top: 30%;
  width: 100%;
  height: 0;
  overflow: hidden;
  margin: auto;
  text-align: center;
  font-size: 88px;
  color: #FFF;
  transform-origin: 50% 100%;
  text-shadow: 2px 2px 2px #333;
  animation-duration: 2s;
  animation-name: fadeAndScale;
  animation-fill-mode: forwards;
}

@keyframes fadeAndScale {
  from {
      opacity: 0;
      transform: scale(.9, .9);
      z-index: 10000;
      height: auto;
  }
  30% {
      opacity: 1;
      transform: scale(1, 1);
      height: auto;
  }
  70% {
      opacity: 1;
      transform: scale(1, 1);
      height: auto;
  }
  99% {
      opacity: 0;
      transform: scale(1.1, 1.1);
      height: auto;
  }
  to {
      height: 0;
      opacity: 0;
  }
}
@keyframes blink {
  from {
      opacity: 0;
  }
  30% {
      opacity: 1;
  }
  70% {
      opacity: 1;
  }
  99% {
      opacity: 0;
  }
  to {
      opacity: 0;
  }
}

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}
@keyframes bounce{
  from {margin-top: 3px;}
  50%  {margin-top: -3px;}
  to   {margin-top: 3px;}
}
@keyframes flash{
  from {visibility: hidden; opacity: 0;}
  50%  {visibility: visible; opacity: 100;}
  to   {visibility: hidden; opacity: 0;}
}
.fadeout {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
.flashlight {
  animation-duration: 2s;
  animation-name: cameraFlash;
  animation-fill-mode: linear;
}
@keyframes cameraFlash {
  from {visibility: visible; opacity: 100;}
  50%  {visibility: visible; opacity: 100; filter: brightness(0) invert(1);}
  to   {visibility: visible; opacity: 100;}
}

[draggable] {
  user-select: none;
}

/////////////////////////////// Dialog /////////////////////////////////////

.q-dialog__inner > div {
  background: #fff; /* otherwise, default is transparent */
}
/*
 * MP 2019-11-15
 * fix quasar issue with "maximized" property on <q-dialog>, which can prevent scrolling on Android
 * tried to prevent scrolling "above limits" on iOS, using those solutions https://stackoverflow.com/a/39821505/488666, but no luck
 */
.q-dialog__inner--maximized {
  overflow-y: scroll;
  padding: 0.5rem; /* nicer layout / UI */
}
.q-dialog.fullscreen {
  /* 7003 to be over the stories, especially when user pass the tutorial */
  z-index: 7003;
}

/////////////////////////////// Other CSS /////////////////////////////////////

.image-list .q-card {
  height: 30vh;
  min-height: 30vh;
  max-height: 30vh;
  overflow-y: hidden;
  width: 100%;
}
.score-box {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 6000;
  text-shadow: #fff 1px 1px, #fff -1px 1px, #fff -1px -1px, #fff 1px -1px;
}
.coin-box {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 6000;
  text-shadow: #fff 1px 1px, #fff -1px 1px, #fff -1px -1px, #fff 1px -1px;
}
.invitations-box {
  position: fixed;
  top: 15px;
  left: 0px;
  z-index: 6000;
  text-shadow: #fff 1px 1px, #fff -1px 1px, #fff -1px -1px, #fff 1px -1px;
}
.score-text {
  font-size: 2em;
}
.score-text i {
  font-size: 0.7em;
  line-height: 0.5em;
  margin-top: -7px;
}
.score {
  font-size: 2.1rem;
  text-align: center;
  font-weight: bold;
  background-position: center 50px;
  background-repeat: no-repeat;
  background-size: 35%;
  width: 100px;
  padding-top: 10px;
}
.level-box {
  height: 14px;
  font-size: 12px;
  text-shadow: none;
}
.map {
  width: 100%; 
  height: 100%; 
}
.big-avatar, .mid-avatar {
  border-radius: 50%;
  border: 5px solid #07275A;
}
.big-avatar, .mid-avatar {
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.big-avatar div, .mid-avatar div {
  border-radius: 50%;
}
.big-avatar div, .mid-avatar div {
  vertical-align: top;
}
.big-avatar div {
  background-size: 68px 68px;
  width: 68px;
  height: 68px;
}
.mid-avatar div {
  background-size: 34px 34px;
  width: 34px;
  height: 34px;
}
.big-avatar span, .mid-avatar span, .mid-avatar label, .big-avatar label {
  background: rgba(0,0,0,.54);
  bottom: 0;
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  left: 0;
  line-height: 9px;
  position: absolute;
  padding: 7px 0;
  text-align: center;
  width: 70px;
  display: block;
  cursor: pointer;
}
.bottom-dark-banner {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0px;
  width: 100%;
  color: #fff;
  padding: 10px;
}
.bottom-dark-banner .title {
  font-size: 1.5em;
}
.q-pb-xxl {
  padding-bottom: 120px;
}
.q-pb-xxxl {
  padding-bottom: 200px;
}
.q-carousel__slides-container {
  height: inherit;
  min-height: inherit;
}
.q-carousel .q-btn.disabled {
  visibility: hidden;
}
.q-carousel__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw;
}
.q-carousel__navigation {
  z-index: 1; /* otherwise bottom navigation "dots" are not clickable (under the layer containing the left & right arrows) */
}
.list-group { 
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}
.list-group-item { 
  display: flex; 
  flex-flow: row nowrap; 
  align-items: flex-start; 
  padding: 0rem 0.2rem 0.4rem 0; 
}
.list-group-item p {
  height: 30px;
  padding: 7px;
  /*background-color: #ddd;*/
}
.list-group-item div { 
  flex-grow: 1; 
  padding: 0; 
  margin: 0; 
  /*overflow-x: hidden; */
}
.step-list.list-group-item div {
  overflow-x: hidden;
}
.step-list.list-group-item div .step-button {
  /*width: 144px;*/
  flex: none;
}
.step-list.list-group-item div .step-text {
  flex: 1;
  overflow: hidden;
  /*text-overflow: ellipsis;*/
  white-space: nowrap;
}

.list-group-item div span { 
  margin-top: 10px;
  display: inline-block;
}
.list-group-item .handle { 
  font-size: 2rem; 
  padding-right: 0.3rem; 
}
.list-group-item .q-btn { 
  width: 3rem
}
.inventory-items div { 
  float: left; 
  padding: 5px 
  width: 30vw; 
  height: 40vw; 
  overflow: hidden; 
  text-align: center;
}
.inventory-items div img { 
  width: 100%; 
}
.menu .q-btn .q-icon {
  font-size: 2.4em;
}
.objects-list img {
  border: 1px solid #fff;
}
.selected {
  background: #eee;
  border: 1px solid #ccc !important;
}
.q-list-separator {
  margin-top: 10px;
  border: 1px solid #e0e0e0 !important;
}
.location-gps p {
  color: rgba(0,0,0,0.46);
}
.location-gps-inputs {
  display: flex;
  flex-flow: row nowrap;
}
.location-gps-inputs input {
  display: block;
  margin: 0.5rem;
  border: 0px none;
  border-bottom: 1px solid #ccc;
  width: 8rem;
}
.location-gps-inputs label {
  display: block;
  margin: 0.5rem;
  color: rgba(0,0,0,0.46);
}
.image-and-text-aligned {
  vertical-align: middle;
}
.story .bubble-top, .story .bubble-bottom {
  font-size: 0px;
}
.story .bubble-middle {
  width: 100%;
  max-width: 100vw;
  padding: 0 15px;
  background-position: top left !important;
  background-size: 100% !important;
  max-height: 200px;
  overflow-y: auto;
}
.story .bubble-top img, .story .bubble-bottom img {
  width: 100%;
  padding: 0;
  margin: 0;
}
.story .character img {
  min-width: 30%
}
.story-container {
  z-index: 7002
}
#q-app .bg-facebook {
  background: #4267B2;
}
#q-app .bg-google {
  background: #fff;
}
#q-app .bg-google .q-btn-inner {
  color: #7D7D7D;
}
#q-app .fa-google:before {
  color: transparent;
  background-image: url('/statics/icons/social-networks/g-logo.png');
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.score-bar {
  text-align: center;
  font-size: 1.2em;
}
.score-bar img {
  height: 20px;
}
.q-list .score {
  font-size: 1rem;
  white-space: nowrap;
}
.tilt{
  /*transform: rotateY(-3deg);
  -moz-transform: rotateY(-3deg);
  -webkit-transform: rotateY(-3deg);
  -khtml-transform: rotateY(-3deg);*/
}
.scroll-indicator {
  position: absolute;
  margin-top: 170px;
  opacity: 0.5;
}
.close-btn {
  margin-top: 5px;
}
.firstusage .q-carousel .q-carousel-left-arrow {
  visibility: hidden;
}
/* fix for component <gmap-autocomplete> (vue2-google-maps) */
.pac-container {
  display: block;
  z-index: 7500;
}
/* fix for <q-select> menus on desktop: must be above .q-dialog.fullscreen
(z-index provided by Quasar is 6000) */
.q-menu {
  z-index: 7002;
}
/* fix for missing vertical scrolling at end.vue, only for android
note that .platform-android selector targets both webapp (Chrome) & hybrid on android
WARNING: introduces bad scrolling behaviors on iOS webapp (Safari) & hybrid */
.platform-android .q-layout, .platform-android .q-page-container {
  overflow-y: scroll;
}