/////////////////////////////// app generic CSS /////////////////////////////////////

/////////////////////////////// page CSS /////////////////////////////////////

.dark-background {
  background: #e82a34;
  color: #fff;
}
.grow {
  flex-grow: 1;
}
.dark-background a {
  color: #fff;
}
#main-view {
  padding: 0rem;
}
.infoWindow {
  text-align: center;
  padding: 3px;
}
.column {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}
.column .row {
  flex: 1;
}
.column .row, .column .row-auto {
  width: 100%;
}
.header {
  width: 100%;
  background-color: #ccc;
  color: #e82a34;
  min-height: 80px;
  font-size: 1.3rem;
  line-height: 1.1rem;
  background-repeat: no-repeat;
  padding: 10px;
}
.header .title {
  font-size: 1.5em;
  line-height: 1.1em;
}

/////////////////////////////// Labels CSS /////////////////////////////////////
h1.size-3 {
  font-size: 2rem;
  font-weight: normal;
}
.align-right {
  text-align: right;
}
.infoWindow .title {
  font-size: 1.5em;
}

/////////////////////////////// Forms CSS /////////////////////////////////////

.dark-background .q-if-label {
  color: #fff;
}
.q-field-dark .q-field-label, .q-field-dark .q-field-icon, .q-field-dark .q-field-counter, .q-field-dark .q-field-bottom {
  color: #ef3;
}
.dark-background .q-if-focused .q-if-label {
  color: #eee !important;
}
form {
  margin-top: 1rem;
}
.q-btn {
  margin: 0.3rem 0; 
}
.dark-background .q-if:after {
  background-color: #fff;
}
.dark-background .q-input-target, .dark-background .q-input-shadow {
  color: #fff;
}
.dark-background .q-if-label, .dark-background .q-if-addon, .dark-background .q-if-control {
  color: #fff;
}

/////////////////////////////// Buttons CSS /////////////////////////////////////

.multiple-btn button {
  margin-left: 20px
}
.multiple-btn button:first-child {
  margin-left: 0px
}

/////////////////////////////// Menus CSS /////////////////////////////////////

.menu, .menu-background {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 120px;
}
.menu {
  height: 120px;
}
.menu>div {
  padding-top: 20px;
}
.menu>div:first-child, .menu>div:last-child {
  padding-top: 35px;
}
.menu-background {
  background: #000;
  opacity: 0.2;
}

/////////////////////////////// Tabs CSS /////////////////////////////////////

.q-tab-pane {
  padding-bottom: 100px; /* to avoid bottom information to be hidden by menu */
  border: 0px;
}

/////////////////////////////// Other CSS /////////////////////////////////////

.score-box {
  position: fixed;
  top: 0px;
  right: 0px;
  font-size: 2em;
}
.map {
  width: 100%; 
  height: 100%; 
}
.enable-geolocation {
  padding: 1rem;
}
.big-avatar, .mid-avatar {
  border-radius: 50%;
  border: 5px solid #f00;
}
.big-avatar, .mid-avatar {
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.big-avatar div, .mid-avatar div {
  border-radius: 50%;
}
.big-avatar div, .mid-avatar div {
  vertical-align: top;
}
.big-avatar div {
  background-size: 68px 68px;
  width: 68px;
  height: 68px;
}
.mid-avatar div {
  background-size: 34px 34px;
  width: 34px;
  height: 34px;
}
.big-avatar span, .mid-avatar span, .mid-avatar label, .big-avatar label {
  background: rgba(0,0,0,.54);
  bottom: 0;
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  left: 0;
  line-height: 9px;
  position: absolute;
  padding: 7px 0;
  text-align: center;
  width: 80px;
  display: block;
  cursor: pointer;
}
.bottom-dark-banner {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0px;
  width: 100%;
  color: #fff;
  padding: 10px;
}
.bottom-dark-banner .title {
  font-size: 1.5em;
}
.q-pb-xxl {
  padding-bottom: 120px;
}
.q-pb-xxxl {
  padding-bottom: 200px;
}

/////////////////////////////////////////////////////////// OLD CSS ///////////////////////////////////////////////////////////////////// 
// app global css

/* required to avoid useless 50px overflow at bottom */
#q-app { 
  min-height: 0px; 
  /*max-width: 840px;  if larger some quest type does not work */
}

/* Run graaly only on screens smaller than 840px */
@media (min-width: 841px) {
  #main-view {
    display: none
  }
} 
@media (max-width: 840px) {
  #screen-too-large {
    display: none
  }
}


.layout-page, .layout-page-container {
  overflow-y: hidden; /* can't easily override calc(100vm - 50px) on .layout-page */
  height: 100%;
}
.wrapper {
  overflow-y: scroll;
}
#main-view {
  padding: 0;
}

.centered {
  text-align: center;
}
.big-icon {
  font-size: 5rem
}
.image-and-text-aligned {
  vertical-align: top;
}
.subtitle {
  font-size: 0.9rem;
  color: $dark-grey-text;
  line-height: 0.9rem;
  margin-bottom: 0.5rem;
}

.score {
  font-size: 2.1rem;
  text-align: center;
  font-weight: bold;
  background-image: url('/statics/icons/game/medal.png');
  background-position: center 50px;
  background-repeat: no-repeat;
  background-size: 35%;
  width: 100px;
  padding-top: 10px;
}
.score-bar {
  text-align: center;
  font-size: 1.2em;
}
.score-bar img {
  height: 20px;
}

.quest-avatar {
  width: 200px;
  border-radius: 50%
}
.q-list .score {
  font-size: 1rem;
  background-position: right 10px;
  background-size: 16px;
  width: 60px;
  padding-right: 18px;
}
.q-list.challenges .score {
  font-weight: normal;
  text-align: right;
  background-position: right 7px;
}

.tab-content, .page-content {
  padding: 10px;
}
.tab-content h2 {
  font-size: 1rem;
}
.top-padding-middle {
  padding-top: 25px;
}
.padding-medium {
  padding: 10px;
}
.bottom-separator {
  border-bottom: 1px solid #ffc90e;
}

.q-list {
  border: 0px !important;
}

.small-icon {
  width: 40px
}

.search {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #fff;
  z-index: 2900;
}

// Team specific CSS

.link-below-button { 
  width: 100%;
  padding-top: 1rem;
  text-align: center;
}

#q-app .bg-facebook {
  background: #4267B2;
}
#q-app .bg-google {
  background: #fff;
}
#q-app .bg-google .q-btn-inner {
  color: #7D7D7D;
}
#q-app .fa-google:before {
  color: transparent;
  background-image: url('/statics/icons/social-networks/g-logo.png');
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.challenge-progression {
  width: 90px;
  height: 26px;
  border: 1px solid #ffc90e;
  text-align: center;
  font-size: 14px;
  background-image: url('/statics/images/background-yellow.png');
  background-repeat: no-repeat;
  padding: 3px;
}

// Step specific CSS

.location-gps p {
  color: rgba(0,0,0,0.46);
}
.location-gps-inputs {
  display: flex;
  flex-flow: row nowrap;
}
.location-gps-inputs input {
  display: block;
  margin: 0.5rem;
  border: 0px none;
  border-bottom: 1px solid #ccc;
  width: 8rem;
}
.location-gps-inputs label {
  display: block;
  margin: 0.5rem;
  color: rgba(0,0,0,0.46);
}
